body{
    font-family: 'Montserrat', sans-serif;
}


#title{
    background-color: #ff4c68;
    color: #fff;
    height: 40rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    


}

.container-fluid{
    padding: 3% 15%;
}


/* Navbar styling */
.navbar-brand{
    
    font-weight: bold;
    font-size: 1.5rem;

}

.navbar{
    margin-bottom: 4.5rem;
}
.nav-item{
    padding: 0 1rem 0 1rem;
}

/* download-button */
.download-button
{
    margin:10% 3% 5% 0;
}

/* title image */
.title-image{
    width: 40%;
    transform: rotate(35deg);
    margin-left: 7rem;
    /* position: absolute; */
    
}



/* features
 */


 #features{
     padding:3rem 0;
    text-align: center;
    line-height: 2;
    position: relative;
    z-index: 1;
    background-color: white;
   
    
 }
 
 #features h3{
     font-size: 1.5rem;
 }
 #features p{
     color: #8f8f8f;
 }
 #features i{
     margin-bottom: 1.7rem;
     font-size: 4rem;
     color: #ef8172;
 }
 #features i:hover{
     color: #ff4c68;
 }

 .feature-item{
     padding:4% 6%;
 }



 /* testomonials */
 #testimonials{
     text-align: center;
     color: white;
     background-color: #ff4c68;
     
 }
#testimonials h2{
  
     line-height: 1.3;
    font-size: 3rem;
 }

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}


/* press */

#press{
    text-align: center;
    background-color:  #ff4c68;
    padding-bottom: 10px;
}

.press-logo{
    width: 10%;
    margin: 2% 4%;
}


/* pricing */
#pricing{
    padding: 5%;
    text-align: left;
}
.pricing-heading{
    padding: 5%;
    text-align: center;
}

.pricing-card{
    margin-bottom: 3%;
    height: 25rem;
}

@media (max-width:1245px){
    .title-image{
    transform: rotate(0);}
   
    }

    @media (max-width:1049px) and (min-width:994px) {
        .download-button{
            width:9rem;
           
        }
        
    }

    @media (max-width:994px)
    {
        #title{text-align: center;
            height: 70rem;}
        .title-image{position: static;
        margin-left: 0;}
        #footer .row{
            width: 30%;
            
    
        }
    }


    /* footer */
    #cta{
        background-color:#ff4c68; 
        text-align: center;
        padding: 4rem;
        color: white;
    }
    #cta h2{
        margin-bottom: 3rem;
    }

    #footer{
        text-align: center;
        color: rgb(143, 143, 143);  
        padding: 5% 0%;
    }
    #footer .row{
        width: 10%;
        margin: auto;
        

    }
    #footer .row i{color: black;}